.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    .content {
      flex: 0 0 auto;
      min-width: 20vw;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }