<div class="card-deck-container">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
            <div class="content">
                <mat-card class="card">
                  <mat-card-header>
                    <mat-card-title>{{ card.Location }}</mat-card-title>
                    <mat-card-subtitle>00/00/0000 - 00/00/0000</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/images/miami.jpg">
                  <!-- <mat-card-content>
                    <p>
                        {{card.cardContent}}
                    </p>
                  </mat-card-content> -->
                  <mat-card-actions>
                    <button color="primary" (click)="viewTrip(card.Location)" mat-raised-button>View Trip</button>
                    <!-- <button color="primary" (click)="deleteTrip(card.Location)" mat-raised-button>Delete Trip</button> -->
                  </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>  
</div>
