<div class="bg-img">
    <div class="navbar-container">
        <mat-toolbar color="transparent">
            <div class="navbar-title">
                <!-- Added a function to the home page home button, to where it links the user to the trips
                     page ONLY if the user has successfully logged in. This is a test implementation to see if
                     I could get the "loggedIn" status to be saved amongst multiple components. -->
                <a mat-button (click)="tripsIfLoggedIn()">Vacation Planner</a>
            </div>
            <div class="navbar-centered">
            </div>
            <div class="navbar-right">
                <a mat-button routerLink="/trips" routerLinkActive="mat-accent">Trips</a>
                <a mat-button routerLink="/login" routerLinkActive="mat-accent">Log in</a>
            </div>
        </mat-toolbar>
    </div>
    <div class="home-search-container">
        <mat-card class=home-search-card>
            <mat-card-title>
                Start Planning
            </mat-card-title>
            <mat-card-content class="home-search-content">
                <trip-search></trip-search>
            </mat-card-content>
        </mat-card>
    </div>
</div>
